
body{
	font-family:  'Lato', sans-serif;
	font-size: 18px;
	color: #707070;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Dosis', sans-serif;
}


/*header strat*/
header{
	background-color:#ffd338;
}
.manu ul li a{
	font-family: 
	font-size:18px;
	font-weight:bold;
	color: white!important;
	padding: 3px 15px!important;
	border-radius: 15px;

}
.manu ul li a:hover{
	background: #f05c5c;
}
.btn{
	color: white!important;
}


.dropdown-menu{
	background-color:#ffd338!important; 
}
/*header End*/